body {
  background-color: #180920;
  color: #fff;
  margin: 0;
  padding: 0rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* Style class based win/loss messages */
.win {
  color: #05a305;
}

.loss {
  color: red;
}
